<section *ngIf="product; else fallback">
  <app-page-header [showBackButton]="true" [header]="product.name" />
  <form
    [formGroup]="productForm"
    (ngSubmit)="onUpdateProductDetails()"
    class="flex gap-5 md:flex-col px-7 sm:px-0"
  >
    <div class="w-[60%] md:w-full flex flex-col gap-5">
      <div class="min-h-[400px]">
        <app-card>
          <h3 class="font-medium text-lg">Product details</h3>
          <div class="flex flex-col gap-4">
            <app-form-input
              label="Product name"
              inputName="name"
              description="Enter the name of your product"
              [form]="productForm"
            >
              <input pInputText id="name" formControlName="name" />
            </app-form-input>
            <app-form-input
              label="Product description"
              inputName="description"
              description="Briefly describe your product"
            >
              <textarea
                rows="5"
                cols="30"
                class="p-3"
                pInputTextarea
                formControlName="description"
                [autoResize]="true"
              ></textarea>
            </app-form-input>
            <p-floatLabel>
              <p-multiSelect
                styleClass=" w-full border border-border bg-transparent"
                panelStyleClass="bg-background text-text"
                [options]="categories"
                optionLabel="name"
                formControlName="categories"
              />
              <label for="">Select Categories</label>
            </p-floatLabel>
          </div>
        </app-card>
      </div>

      <app-card>
        <h3 class="font-medium text-lg">Pricing</h3>

        <app-form-input
          label="Product Price"
          inputName="price"
          [form]="productForm"
        >
          <p-inputNumber
            [min]="0"
            inputId="price"
            mode="currency"
            class="w-full"
            currency="NGN"
            styleClass=" w-full"
            locale="en-US"
            formControlName="price"
          />
        </app-form-input>
        <div
          class="flex gap-5 py-3 items-center mt-4 px-3"
          formGroupName="on_sale"
        >
          <p class="text-sm">On Sale?</p>
          <p-inputSwitch
            styleClass="focus-visible:shadow-none focus-within:shadow-none"
            formControlName="is_on_sale"
          />
        </div>
        <app-form-input
          *ngIf="productForm.controls['on_sale'].value.is_on_sale"
          label="Sale Price"
          inputName="price"
          formGroupName="on_sale"
        >
          <p-inputNumber
            [min]="0"
            inputId="price"
            mode="currency"
            class="w-full"
            currency="NGN"
            styleClass=" w-full"
            locale="en-US"
            formControlName="sale_price"
          />
        </app-form-input>
      </app-card>
      <app-card>
        <h3 class="font-medium text-lg">Product Media</h3>
        <div>
          <p-fileUpload
            name="images"
            [multiple]="true"
            accept="image/*"
            maxFileSize="1000000"
            styleClass="bg-transparent"
          >
            <ng-template
              pTemplate="header"
              let-chooseCallback="chooseCallback"
              let-clearCallback="clearCallback"
            >
              <div class="flex py-1 gap-3">
                <button
                  (click)="chooseCallback()"
                  type="button"
                  class="flex rounded-full border border-red-400 text-red-400 w-8 h-8 items-center justify-center hover:bg-primary hover:text-white"
                >
                  <ng-icon name="ionCloudUploadOutline" />
                </button>
                <button
                  (click)="clearCallback()"
                  type="button"
                  class="flex justify-center border border-red-700 text-red-700 w-8 h-8 items-center mt-auto rounded-full hover:bg-red-400 hover:text-white"
                >
                  <ng-icon name="ionCloseOutline" />
                </button>
              </div>
            </ng-template>
            <ng-template pTemplate="content" let-files>
              <div *ngIf="files?.length > 0">
                <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                  <div
                    *ngFor="let file of files; let i = index"
                    class="border border-border px-3 py-2 flex flex-col items-center justify-between gap-3"
                  >
                    <div>
                      <img
                        role="presentation"
                        [alt]="file.name"
                        [src]="file.objectURL"
                        width="100"
                        height="50"
                      />
                    </div>
                    <span class="text-sm">{{ file.name }}</span>
                    <button
                      type="button"
                      class="flex justify-center border border-red-700 text-red-700 w-8 h-8 items-center mt-auto rounded-full hover:bg-red-400 hover:text-white"
                    >
                      <ng-icon name="ionCloseOutline" />
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="file"> </ng-template>
            <ng-template pTemplate="empty">
              <div class="flex items-center justify-center flex-col">
                <i
                  class="pi pi-cloud-upload border border-primary text-primary p-5 text-5xl rounded-full"
                ></i>
                <p class="mt-4 mb-0 text-primary text-sm">
                  Drag and drop files here to upload.
                </p>
                <p class="mt-2 mb-0 text-primary text-xs">
                  JPEG, JPG, PNG. Maximum size 1MB
                </p>
              </div>
            </ng-template>
          </p-fileUpload>
        </div>
      </app-card>
    </div>
    <div class="flex-auto flex flex-col gap-5 px-5 md:px-0">
      <div class="min-h-[200px] md:min-h-max">
        <app-card>
          <h3 class="font-medium text-lg">Inventory details</h3>

          <div
            *ngIf="!productForm.controls['has_variants'].value"
            class="flex items-center gap-5 py-5"
          >
            <p>Available Quantity:</p>

            <p-inputNumber
              [min]="0"
              inputId="quantity"
              class="flex-auto border border-border h-10 rounded-md"
              styleClass=" w-full px-2"
              formControlName="available_quantity"
            />
          </div>

          <div class="flex gap-5 py-3 items-center">
            <p class="text-sm mb-1">Has Variants?</p>
            <p-inputSwitch formControlName="has_variants" />
          </div>

          <div *ngIf="productForm.controls['has_variants'].value" class="py-3">
            <span class="flex items-center justify-between px-2">
              <p class="font-medium">Variants</p>
              <app-button
                label="Add"
                icon="ionAddOutline"
                styleClass="text-primary gap-1 flex-row-reverse"
                (onClick)="toggleModal(true)"
              />
            </span>
            <div class="mt-5">
              <ng-template #noVariants>
                <p class=" flex items-center justify-center text-xs">No Variants added</p>
              </ng-template>
              <div *ngIf="product.variants.length; else noVariants" class=" flex flex-col gap-2">
                <app-product-variant
                  *ngFor="let variant of product.variants; let i = index"
                  [variant]="variant"
                  (deleteVariant)="handleDeleteVariant(i)"
                />
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div>
        <app-card>
          <app-button
            label="Save"
            styleClass="btn-primary w-full h-11 justify-center"
            size="normal"
            type="submit"
            [loading]="updatingProdut()"
          />
          <div class="flex gap-5 py-3 items-center mt-4 px-3">
            <p-inputSwitch
              styleClass="focus-visible:shadow-none focus-within:shadow-none "
              formControlName="active"
            />
            <p class="text-sm mb-1">Active</p>
          </div>
          <div></div>
        </app-card>
      </div>
    </div>
  </form>

  <app-popup
    [visible]="showModal"
    (showModal)="toggleModal($event)"
    position="top"
  >
    <div class="flex-auto" heading>
      <h2 class="font-medium">Add a Variant</h2>
    </div>
    <form [formGroup]="addVariantForm" (ngSubmit)="onSubmitNewVariant()" class="px-5 flex flex-col gap-4">
      <app-form-input
        label="Group name"
        inputName="group_name"
        description="Enter a group name for your variant. (e.g. size, color)"
        [form]="addVariantForm"
      >
        <input pInputText id="name" class="text-sm" formControlName="group_name" />
      </app-form-input>

      <p class="font-medium text-primary">Options:</p>
      <div class="flex flex-wrap items-center gap-2">

        <p-chip
          [label]="option.name"
          [removable]="true"
          styleClass=" bg-primary text-white text-xs"
          *ngFor="let option of addedNewVariants.value; index as i"
          (onRemove)="removeVariantOption(i)"
        />
      </div>

      <div *ngIf="addVariantForm.get('options')?.errors?.['minLengthArray']" class=" text-xs text-red-500">
        Group must contain at least 1 variant.
      </div>

      <div class="flex items-center justify-between gap-5 sm:flex-col sm:gap-2 sm:items-start">
        <app-form-input label="Option name" inputName="name" class="flex-auto sm:w-full">
          <input pInputText id="name" class="text-sm" formControlName="option_name" />
        </app-form-input>
        <app-form-input label="Quantity" inputName="quantity" class="sm:w-full">
             <p-inputNumber
              [min]="0"
              inputId="option_quantity"
              formControlName="option_quantity"
              styleClass="sm:w-full"
              class="sm:w-full"
            />
        </app-form-input>
        <app-button
          label="Add Option"
          styleClass="flex-row-reverse gap-1 justify-center text-primary"
          size="normal"
          icon="ionAddOutline"
          (onClick)="addNewVarianntOption()"
        />
      </div>
      <app-button
        label="Save"
        type="submit"
        styleClass="btn-primary h-8 w-full justify-center"
        size="normal"
        [loading]="addingVariant()"
      />
    </form>

  </app-popup>
</section>

<ng-template #fallback>
  <div *ngIf="loading(); else noProduct" class="h-full">
  <app-loader />
  </div>

  <ng-template #noProduct>
    <app-page-header [showBackButton]="true" />
    <div>Product not found</div>
  </ng-template>
</ng-template>
