<section class="h-full grid grid-cols-2 md:block">
  <div class="flex px-6 items-center justify-center md:hidden">
    <img src="assets/Sign in.gif" />
  </div>
  <div class="bg-slate-50 flex px-5 items-center md:h-full">
    <div class="w-full max-w-lg min-h-[70%] flex flex-col gap-6">
      <img
        src="assets/Biggmall logo main.png"
        alt="Biggmall logo"
        class="w-28"
      />

      <div class="pl-3">
        <p class="text-gray-600">Welcome Back!!!</p>
        <h1 class="font-semibold text-4xl">Sign In</h1>
      </div>

      <form class="pl-3 flex flex-col gap-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-form-input
          label="Email"
          description="Enter your Email to log in"
          inputName="email"
          [form]="loginForm"
        >
          <input pInputText formControlName="email" />
        </app-form-input>

        <app-form-input
          label="Password"
          description="Enter your password to log in"
          inputName="password"
          [form]="loginForm"
        >
          <p-password
            [toggleMask]="true"
            [feedback]="false"
            styleClass="w-full"
            formControlName="password"
          />
        </app-form-input>
        <app-button
          label="Log in"
          styleClass="w-full h-[44px] bg-primary text-white text-lg justify-center"
          type="submit"
          [loading]="logginIn"
        />

        <p class="text-gray-600">
          Don't have an account?
          <a routerLink="/auth/signup" class="text-primary"> Sign up </a>
        </p>
      </form>
    </div>
  </div>
</section>
