<app-page-header header="Products" />
<app-card>
  <app-table [headers]="['Product', 'Stock', 'Price', 'Variants', ' ']">
    <div class="flex items-center justify-between bg-card py-4" caption>
      <div>
        <input type="text" placeholder="Search order" />
      </div>
      <app-button
        type="button"
        label="Add New Product"
        icon="ionAddOutline"
        styleClass="font-normal btn-primary gap-1 flex-row-reverse"
        route="/dashboard/products/add"
      />
    </div>
    <div body>
      <div *ngIf="products().length; else fallback">
        <div
          *ngFor="let product of products()"
          class="grid grid-cols-5 p-4 text-xs cursor-pointer hover:bg-background"
        >
          <div class="flex items-center gap-3">
            <span
              class="w-10 h-10 bg-gray-100 rounded-md flex items-center"
            ></span>
            <p>{{ product.name }}</p>
          </div>
          <div class="flex items-center">{{ product.available_quantity }}</div>
          <div class="flex items-center">
            {{ product.price | currency: "NGN" }}
          </div>
          <div class="flex items-center">{{ product.variants.length }}</div>
          <div class="flex items-center gap-2">
            <a
              pButton
              [routerLink]="'/dashboard/products/' + product._id"
              class="text-xs btn-primary-outline p-2 flex items-center gap-1"
            >
              <ng-icon name="ionPencilOutline" />
              Edit
            </a>
            <button
              pButton
              class="font-normal text-white bg-red-400 gap-1 flex p-2"
              (click)="deleteProduct(product._id)"
            >
              <ng-icon name="ionTrashBinOutline"></ng-icon>
              Delete
            </button>
          </div>
        </div>
      </div>
      <ng-template #fallback>
        <app-loader *ngIf="loading(); else noData" />

        <ng-template #noData>
          <p class="flex items-center justify-center py-10 text-xs">No Products Added</p>
        </ng-template>
      </ng-template>
    </div>
  </app-table>
</app-card>
