<app-page-header header="Categories" />
<app-card>
  <app-table [headers]="['Category', 'Slug', '']" minWidth="100%">
    <div class="flex items-center justify-between bg-card py-4" caption>
      <div></div>
      <app-button
        type="button"
        label="Add Category"
        icon="ionAddOutline"
        styleClass="font-normal btn-primary gap-1 flex-row-reverse "
        (onClick)="toggleAddModal(true)"
      />
    </div>
    <div body>
      <div *ngIf="categories.length; else noCategories">
        <div
          *ngFor="let category of categories"
          class="grid grid-cols-3 items-center py-3 px-3 hover:bg-background"
        >
          <div>
            <p>{{ category.name }}</p>
          </div>
          <div>
            <p class="uppercase">{{ category.slug }}</p>
          </div>
          <div>
            <button
              pButton
              class="font-normal text-white bg-red-400 gap-1 flex p-2"
              (click)="deleteCategory(category._id)"
            >
              <ng-icon name="ionTrashBinOutline"></ng-icon>
              Delete
            </button>
          </div>
        </div>
      </div>
      <ng-template #noCategories>
        <div class="flex h-32 justify-center items-center">
          No Product Categories
        </div>
      </ng-template>
    </div>
  </app-table>
</app-card>


<app-popup
  [visible]="showAddModal"
  (showModal)="toggleAddModal($event)"
  position="top"
>
  <div class="flex-auto" heading>
    <h2 class="font-medium">Add New Category</h2>
  </div>
  <form [formGroup]="addCategoryForm" (ngSubmit)="onAddCategory()" class="px-5 flex flex-col gap-1">
    <app-form-input label="Category name" inputName="name" [form]="addCategoryForm">
      <input pInputText formControlName="name" class="text-sm" />
    </app-form-input>

    <app-form-input label="Description" inputName="description" [form]="addCategoryForm">
      <textarea rows="3" cols="30" class="p-3" formControlName="description" pInputTextarea></textarea>
    </app-form-input>

    <small>Category Image:</small>
    <label
      class="flex justify-center mt-2 text-2xl text-primary rounded-md items-center h-32 border border-dashed border-primary"
    >
      <ng-icon name="ionAddOutline" />
      <input type="file" class="hidden" />
    </label>
      <app-button
        label="Save Category"
        styleClass="btn-primary w-full mt-5 justify-center"
        size="normal"
        type="submit"
        [loading]="isLoading()"
      />
  </form>
</app-popup>
