<footer class="min-h-[500px] bg-slate-100 pt-24  md:pt-10 flex flex-col justify-between">
  <div class="container grid grid-cols-4 md:flex md:flex-col md:gap-6">
    <div class="flex flex-col gap-3">
      <a routerLink="/">
        <img src="assets/Biggmall logo main.png" alt="" />
      </a>
      <div class="flex gap-4 items-center text-2xl text-primary px-5">
        <a href="#">
          <ng-icon name="ionLogoInstagram" />
        </a>
        <a href="#"> <ng-icon name="ionLogoTwitter"></ng-icon> </a
        ><a href="#"> <ng-icon name="ionLogoYoutube"></ng-icon> </a>
      </div>
      <p class="px-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim possimus
        illo delectus animi magni, dolore doloribus ex quibusdam hic dolor dicta
        vitae mollitia odio eum
      </p>
    </div>

    <div class="flex flex-col gap-9 px-5">
      <p class="font-semibold">Product</p>

      <ul class="flex flex-col gap-7">
        <li><a routerLink="/auth/login">Log in</a></li>
        <li><a routerLink="/auth/signup">Get Started</a></li>
      </ul>
    </div>

    <div class="flex flex-col gap-9 px-5">
      <p class="font-semibold">Links</p>

      <ul class="flex flex-col gap-7">
        <li><a routerLink="/features">Features</a></li>
        <li><a routerLink="/how-it-works">How it works</a></li>
        <li><a routerLink="/">Resources</a></li>
        <li><a routerLink="/">Pricing</a></li>
      </ul>
    </div>

    <div class="flex flex-col gap-9 px-5">
      <p class="font-semibold">Company</p>

      <ul class="flex flex-col gap-7">
        <li><a routerLink="/">About us</a></li>
        <li><a routerLink="/">Privacy policy</a></li>
        <li><a routerLink="/">Terms of service</a></li>
        <li><a routerLink="/">Contact us</a></li>
      </ul>
    </div>
  </div>
  <div class=" flex justify-center items-center flex-auto py-6">
    <p>
      © {{ year }} Biggmall. All Rights Reserved.
    </p>
  </div>
</footer>

