<p-dialog [modal]="true" [visible]="visible" [position]="position" [style]="{ width: '25rem' }">
  <ng-template pTemplate="headless">
    <div class=" bg-card rounded-md border border-border p-5">
      <div class=" flex justify-between items-center gap-4">
        <ng-content select="[heading]"  />
        <app-button
          styleClass="border border-red-400 text-red-400 w-8 h-8 items-center justify-center mt-auto hover:bg-red-400 hover:text-white"
          icon="ionCloseOutline"
          variant="round"
          size="normal"
          (onClick)="toggleModal(false)"
        />
      </div>
      <ng-content />
      <div>
        <ng-content select="[footer]" />
      </div>
    </div>
  </ng-template>
</p-dialog>
