<app-page-banner title="Features" />

<section class="py-24 md:py-10">
  <div class="container grid grid-cols-2 md:flex md:flex-col md:text-center">
    <div class="flex flex-col justify-center items-start md:items-center gap-8 px-5">
      <h3 class="font-semibold text-2xl text-primary">
        Lorem ipsum dolor sit amet.
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi accusamus
        provident pariatur ut aperiam vitae amet labore ipsum ipsam. Maxime
        delectus enim consequuntur ipsum explicabo?
      </p>
    </div>
    <div>
      <img src="assets/Mobile Marketing-pana.svg" alt="" />
    </div>
  </div>
</section>
<section class="py-24 md:py-10 bg-slate-100">
  <div class="container grid grid-cols-2 md:flex md:flex-col md:text-center">
    <div>
      <img src="assets/Online wishes list-pana.svg" alt="" />
    </div>
    <div class="flex flex-col justify-center items-start md:items-center gap-8 px-5">
      <h3 class="font-semibold text-2xl text-primary">
        Lorem ipsum dolor sit amet.
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
        praesentium adipisci, possimus illo corporis ducimus, distinctio,
        aperiam architecto assumenda incidunt quidem sapiente provident minus
        excepturi.
      </p>
    </div>
  </div>
</section>
<section class="py-24 md:py-10">
  <div class="container grid grid-cols-2 md:flex md:flex-col md:text-center">
    <div class="flex flex-col justify-center items-start md:items-center gap-8 px-5">
      <h3 class="font-semibold text-2xl text-primary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eos alias
        impedit possimus exercitationem vel autem officia quia temporibus nemo,
        fuga harum adipisci facere, unde consequuntur voluptas et amet rerum?
      </p>

    </div>
    <div>
      <img src="assets/Sales consulting-pana.svg" alt="" />
    </div>
  </div>
</section>
