<section class="flex gap-5 md:flex-col">
  <div class="h-full w-[60%] md:w-full">
    <app-card>
      <h3 class="font-medium">Store Details</h3>
      <div class="my-4">
        <p class="mb-2">Store logo:</p>
        <label
          class="mb-2 w-20 h-20 inline-flex items-center justify-center text-primary text-xl border border-primary border-dashed"
        >
          <input type="file" class="hidden" />
          <ng-icon name="ionAddOutline" />
        </label>
      </div>
      <form [formGroup]="storeDetails" (ngSubmit)="onUpdateStoreDetails()">
        <app-form-input
          label="Store name"
          inputName="store_name"
          description="Enter the name of your store"
          [form]="storeDetails"
        >
          <input pInputText formControlName="store_name" />
        </app-form-input>
        <app-form-input label="Slug" inputName="slug" [form]="storeDetails">
          <input pInputText formControlName="slug" />
        </app-form-input>
        <app-form-input
          label="Tagline/Slogan"
          inputName="tag_line"
          description="Enter the name of your store"
          [form]="storeDetails"
        >
          <input pInputText formControlName="tag_line" />
        </app-form-input>
        <app-form-input
          label="Store email"
          inputName="store_email"
          description="Enter the email address associated with your store"
          [form]="storeDetails"
        >
          <input pInputText formControlName="store_email" />
        </app-form-input>
        <app-form-input
          label="Store description"
          inputName="description"
          description="Briefly describe your product"
          [form]="storeDetails"
        >
          <textarea
            rows="5"
            cols="30"
            class="p-3"
            pInputTextarea
            [autoResize]="true"
            formControlName="description"
          ></textarea>
        </app-form-input>
        <div class="mt-4">
          <label class="text-xs capitalize text-text-gray pl-2"
            >Store Category</label
          >
          <p-dropdown
            styleClass=" w-full border border-border bg-transparent mt-1"
            panelStyleClass="bg-background text-text"
            [options]="categoryOptions"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            placeholder="Select a Category"
            formControlName="category"
          />
        </div>

        <div
          *ngIf="storeDetails.dirty"
          class="flex py-5 gap-4 items-center justify-end"
        >
          <app-button
            label="Save Changes"
            styleClass="btn-primary h-8 m-w-14 justify-center"
            size="normal"
            type="submit"
            [loading]="isUpdatingStore()"
          />
        </div>
      </form>
    </app-card>
  </div>
  <div class="flex-auto flex flex-col gap-5 pb-10">
    <div>
      <app-card>
        <h3 class="font-medium">Shipping Rates</h3>
        <ng-template #noShipping>
          <p class="py-6 text-center text-text-gray text-xs">No Shipping Rates Added</p>
        </ng-template>
        <div
          *ngIf="store()?.shipping_options?.length; else noShipping"
          class="mt-5 flex flex-col gap-3"
        >
          <app-shippping-option
            *ngFor="let option of store()?.shipping_options"
            [option]="option"
            (delete)="deleteShippingMethod($event)"
          />
        </div>
        <app-button
          label="Add Shipping rate"
          icon="ionAddOutline"
          styleClass="text-primary gap-1 flex-row-reverse"
          (onClick)="toggleModal(true)"
        />

      </app-card>
    </div>
    <div>
      <app-card>
        <h3 class="font-medium">Store Management</h3>
        <div class="mt-5 flex flex-col gap-3">
          <div>
            <p class="font-medium">Store URL:</p>
            <span class="flex justify-between items-center">
              <small>https://biggmall.vercel.app/lethers-by-fayy/</small>
              <app-button icon="ionCopyOutline" styleClass="text-lg" />
            </span>
          </div>

          <div class="mt-4 flex flex-col gap-4">
            <p class="font-semibold">Delete Store</p>
            <p>Deleting this store permanently removes it from our platform.</p>
            <app-button
              label="Delete Store"
              styleClass="bg-red-400 text-white h-10 m-w-14 justify-center mt-5"
              size="normal"
            />
          </div>
        </div>
      </app-card>
    </div>
  </div>
</section>

<app-popup
  [visible]="showModal"
  (showModal)="toggleModal($event)"
  position="top"
>
  <div class="flex-auto" heading>
    <h2 class="font-medium">Add Shipping Rate</h2>
  </div>
  <form
    [formGroup]="shippingOptionsForm"
    (ngSubmit)="onAddNewShippingOption()"
    class="px-5 flex flex-col gap-4"
  >
    <app-form-input
      label="Rate name"
      inputName="name"
      description="Your customers will see this, ensure it's clear and simple"
      [form]="shippingOptionsForm"
    >
      <input pInputText formControlName="name" class="text-sm" />
    </app-form-input>

    <app-form-input
      label="Shipping Rate"
      inputName="price"
      [form]="shippingOptionsForm"
      [errorMessages]="{
        min: 'Cannot be less than NGN100.00',
      }"
    >
      <p-inputNumber
        formControlName="price"
        [min]="0"
        mode="currency"
        class="w-full"
        currency="NGN"
        styleClass=" w-full"
        locale="en-US"
      />
    </app-form-input>
    <app-button
      label="Save"
      styleClass="rounded-md btn-primary h-8 w-full justify-center"
      type="submit"
      [loading]="isUpdatingStore()"
    />
  </form>
</app-popup>

