<app-page-header header="Discounts" />
<app-card>
  <app-table
    [headers]="['Code', 'Description', 'Start Date', 'End Date', '']"
    maxWidth="100%"
  >
    <div class="flex items-center justify-between bg-card py-4" caption>
      <div></div>
      <app-button
        type="button"
        label="Add new"
        icon="ionAddOutline"
        styleClass="font-normal btn-primary gap-1 flex-row-reverse "
        (onClick)="toggleModal(true)"
      />
    </div>
    <div body>
      <div
        class="grid grid-cols-5 p-4 text-xs cursor-pointer hover:bg-background"
      >
        <div class="flex items-center">#QWE1GH</div>
        <div class="flex items-center">
          <p class="max-w-[200px] truncate text-xs">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
            autem.
          </p>
        </div>
        <div class="flex items-center">24/01/2023 &commat; 8:21am</div>
        <div class="flex items-center">24/02/2023 &commat; 8:21am</div>
        <div class="flex items-center gap-2">
          <app-button
            type="button"
            label="Delete"
            icon="ionTrashBinOutline"
            styleClass="font-normal text-white bg-red-400 gap-1 flex-row-reverse "
          />
        </div>
      </div>
    </div>
  </app-table>
</app-card>

<app-popup
  [visible]="showModal"
  (showModal)="toggleModal($event)"
  position="top"
>
  <div class="flex-auto" heading>
    <h2 class="font-medium">Create Discount Code</h2>
  </div>
  <div class="px-5 flex flex-col gap-1">
    <app-form-input label="Discount Code" inputName="name">
      <input pInputText id="name" class="text-sm" />
    </app-form-input>

    <div class="flex items-center gap-2 py-3">
      <p class="text-sm font-medium">Discount Type:</p>

      <div class="flex items-center">
        <p-radioButton
          name="discount"
          value="fixed"
          [(ngModel)]="discountType"
          inputId="fixed"
        />
        <label for="fixed" class="ml-2"> Fixed </label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="discount"
          value="percentage"
          [(ngModel)]="discountType"
          inputId="percentage"
        />
        <label for="percentage" class="ml-2"> Percentage </label>
      </div>
    </div>

    <app-form-input *ngIf="discountType" [ngSwitch]="discountType" label="Discount Value" inputName="name">
        <p-inputNumber
          [min]="0"
          inputId="price"
          mode="currency"
          class="w-full"
          currency="NGN"
          styleClass=" w-full"
          locale="en-US"
          *ngSwitchCase="'fixed'"
        />

        <p-inputNumber
          [min]="0"
          class="w-full"
          styleClass=" w-full"
          inputId="percent"
          prefix="%"
          *ngSwitchCase="'percentage'"
        />
    </app-form-input>

    <app-form-input label="Start Date" inputName="name">
      <p-calendar
        [(ngModel)]="startDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        styleClass="w-full"
        inputId="icondisplay"
      />
    </app-form-input>

    <app-form-input label="End Date" inputName="name">
      <p-calendar
        [(ngModel)]="endDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        styleClass="w-full"
        inputId="icondisplay"
      />
    </app-form-input>
  </div>
  <div footer class="flex justify-end gap-4 items-center py-2 mt-5">
    <app-button
      label="Cancel"
      styleClass="  h-8 w-14 justify-center text-red-400"
      size="normal"
      (onClick)="toggleModal(false)"
    />
    <app-button
      label="Save Category"
      styleClass="btn-primary h-8 m-w-14 justify-center"
      size="normal"
      (onClick)="toggleModal(false)"
    />
  </div>
</app-popup>
