<header class=" bg-slate-100 h-full flex flex-col gap-5 px-5">
<app-navbar />

<div class=" flex-auto grid grid-cols-header w-full max-w-7xl px-5 mx-auto gap-5">
  <div class=" flex flex-col justify-center gap-6">
    <h2 class=" font-poppins font-bold text-2xl mt-10">Headless ecommerce for small businesses</h2>
    <p>Flexible commerce engine that gives small businesses the freedom to innovate and grow.</p>
    <div class="header-points">
      <p><span></span> Create</p>
      <p><span></span> Sell</p>
      <p><span></span> Simplify</p>
    </div>

    <a routerLink="/signup" pButton icon="pi pi-arrow-right" class="btn w-max bg-transparent border border-primary text-primary text-sm flex gap-3 flex-row-reverse px-8 h-[40px]">Start Selling</a>
  </div>
  <div class=" flex justify-center items-center">
    <img src="assets/Bigmall Dashboard main.svg" alt="Bigg mall Dashboard">
  </div>

</div>
</header>
