<app-page-header [showBackButton]="true" header="Create Order" />
<section class=" flex gap-5 md:flex-col">
  <div class="w-[60%] md:w-full flex flex-col">
    <div class="min-h-[400px]">
       <app-card>
        <h3 class="font-medium text-lg ">Order details</h3>
      </app-card>
    </div>
  </div>
  <div class="flex-auto flex flex-col gap-5">
    <div class="min-h-[300px]">
      <app-card>
        <h3 class="font-medium text-lg ">Customer details</h3>

      </app-card>
    </div>
     <div class="min-h-[200px]">
      <app-card>
        <h3 class="font-medium text-lg ">Shipping information</h3>

      </app-card>
    </div>
  </div>
</section>
