<nav class="py-8">
  <div class=" max-w-7xl mx-auto flex items-center justify-between">
    <a routerLink="/" class=" w-24">
      <img src="assets/Biggmall logo main.png" alt="biggmall logo">
    </a>

    <div class=" flex gap-4 items-center font-gilroy-medium">
      <a routerLinkActive="text-primary"  routerLink="products">Products</a>
      <a routerLinkActive="text-primary"  routerLink="how-it-works">How it works</a>
      <a routerLinkActive="text-primary" routerLink="/pricing">Resources</a>
      <a routerLinkActive="text-primary"  routerLink="/resources">Pricing</a>
      <a class=" text-primary font-gilroy-medium btn"   routerLink="/login">
        Log in
      </a>
      <a routerLink="/signup" class=" bg-primary text-white btn">
        Create Account
      </a>
    </div>
  </div>
</nav>
