<div class="w-full border-b border-b-border">
  <ng-content select="[caption]" />
  <div class="w-full overflow-auto">
    <div [style]="{
      minWidth: minWidth,
      maxWidth: maxWidth,
    }">
      <div
        [class]="
          'grid bg-background text-text p-4 border-y border-y-border font-semibold' +
          ' grid-cols-' +
          headers.length
        "
      >
        <div *ngFor="let header of headers">{{ header }}</div>
      </div>

      <div class="min-h-[400px]">
        <ng-content select="[body]" />
      </div>
    </div>
  </div>
</div>
